/* ==========================================================================
   Kiffo BDB — Tipografía oficial SHERPA Design System
   Banco de Bogotá
   ========================================================================== */

@font-face {
  font-family: 'Kiffo BDB';
  src: url('https://diseno-exp.github.io/sherpa-assets/fuentes/kiffo-bdb/KiffoBDB-Thin.woff2') format('woff2'),
       url('https://diseno-exp.github.io/sherpa-assets/fuentes/kiffo-bdb/KiffoBDB-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kiffo BDB';
  src: url('https://diseno-exp.github.io/sherpa-assets/fuentes/kiffo-bdb/KiffoBDB-ExtraLight.woff2') format('woff2'),
       url('https://diseno-exp.github.io/sherpa-assets/fuentes/kiffo-bdb/KiffoBDB-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kiffo BDB';
  src: url('https://diseno-exp.github.io/sherpa-assets/fuentes/kiffo-bdb/KiffoBDB-Light.woff2') format('woff2'),
       url('https://diseno-exp.github.io/sherpa-assets/fuentes/kiffo-bdb/KiffoBDB-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kiffo BDB';
  src: url('https://diseno-exp.github.io/sherpa-assets/fuentes/kiffo-bdb/KiffoBDB-Regular.woff2') format('woff2'),
       url('https://diseno-exp.github.io/sherpa-assets/fuentes/kiffo-bdb/KiffoBDB-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
